

nav {
    background: transparent;
    backdrop-filter: blur(16px) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-family: poppin_SB;
    color: #e7e7e7;
    font-size: 2rem;
    padding-inline: 3rem;


}

nav div {
    color: #e7e7e7;
}

nav div a {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: 1.3rem;
    font-family: poppin_M;
    transition: all 400ms linear;
}


nav div a:hover {
    backdrop-filter: blur(24px);
    background-color: #161616b9;
}

.active {
    color: rgb(255, 157, 0);
    text-decoration: underline;
}